<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.devaddins.slouch" version="0.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>slouch</name>
    <js-module name="slouch" src="www/slouch.js">
        <clobbers target="cordova.plugins.slouch" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="slouch">
                <param name="android-package" value="com.devaddins.slouch.Slouch" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/Slouch.java" target-dir="src/com/devaddins/slouch" />
        <source-file src="src/android/Request.java" target-dir="src/com/devaddins/slouch" />
    </platform>
</plugin>